*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
img {
   display: block;
   max-width: 100%;
   height: auto;  
   width: 419px;
   height: 280px;
}
.header {
   width: 900px;
   font-size: 14px;
   margin: 0 auto;
   padding: 130px;
}
.nav{
    text-align: center;
    vertical-align: middle;
}
.list-item:not(:last-child){
   margin-right: 100px;
}
.list-item {
   display: inline-block;
   font-size: 14px;
   text-transform: uppercase;
}
.list-item a {
   text-decoration: none;
   color:rgb(98,98,98);
   font-family: 'Playfair Display', serif;
}
.list-item a:hover,
.list-item a:focus {
   color:rgb(68, 175, 211);
}
.container { 
   width:900px;
   margin: 0 auto;
   font-family: 'Playfair Display', serif;
   color:rgb(98,98,98);
}
.article {
   display: inline-block;
   width: 418px;
   margin-right: 60px;
}
.article:not(:nth-last-child(-n+2)){
   margin-bottom: 130px;
}
.article:nth-child(2n) {
   margin-right: 0;
}
.article-text {
   font-size:30px;
   margin-bottom: 24px;
}
.category {
   font-family: 'Ubuntu', sans-serif;
   font-size: 14px;
   font-weight: 100px;
   text-transform: uppercase;
   color: rgb(202, 199, 199);
   margin: 25px 0;  
 }
.container-text {
   font-size: 13px;
   line-height: 24px;
   text-align:justify;
   color: rgb(98,98,98);
}
.footer {
   margin: 0 auto;
   width: 900px;
   box-sizing: border-box;
   padding: 30px 0 70px 0;
   text-align: center;
}
.button {
   border: solid 1px;
   background: white;
   font-size: 20px;
   font-family: 'Playfair Display', serif;
   width: 164px;
   height: 60px;
}
.button{
   color: rgb(98,98,98);
}