*, 
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header {
    padding: 35px 0;
}
.header-inner,
.collection-list,
.footer{
    width:1600px;
    margin: 0 auto;
}
.header-inner{
    padding: 0 246px;    
}
.logo,
.list{
    display:inline-block
}
.list{
    float:right;
    list-style:none;
    margin-top: 8px;
}  

.list-item{
    display: inline-block;
    margin-right: 31px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.list-item:last-child {
    margin-right: 0;
}
.list-item:hover,
.list-item:focus{
    color:rgb(33, 187, 161);
    cursor: pointer;
}
.list-link{
    display: block;
}
.logo-link{
    display: block;
    text-decoration: none;
}
.logo-title{
    font-size: 34px;
    color: rgb(100, 98, 98); 
    font-weight: 300; 
    line-height: 34px;
}
 .logo-title::first-letter{
    color:rgb(33, 187, 161);
    font-weight: 700;
}
.block-wrapper{
    background-image: url(img/girls.png);
    background-size: cover;
    width:1600px;
    height: 600px;
    margin: 0 auto;
}
.color-lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 2, 0.6);
}
.btn-wrapper{
    position: relative;
    width:1112px;
    height: 600px;
    margin: 0 auto;
}
.btn{
    position: absolute;
    top: 50%;
    width: 105px;
    height: 105px;
    background-color:rgb(33, 187, 161);
    border:none;
    opacity: 0.9;
    cursor: pointer;
}
.btn-left{
    left:0;
    transform: translateY(-50%)
}
.btn-right{
    right:0;
    transform: translateY(-50%) rotate(180deg);
}
.btn:hover{
    opacity: 0.5;
}
 .icon-btn {
    width: 40px;
    height: 80px;
    text-align: center;
    fill: #fff;
    transition: fill 0.5s ease-in-out;
}
.block-wrapper{
    position: relative;
}
.content-wrapper{
    position: absolute;
    top:50%;
    left:428px;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase; 
}

.title{
    font-size: 55px;
    margin-bottom: 20px;
}
.title-descr{
    font-size: 25px;
    opacity: 0.6;
}
.collection-list{
    background: rgb(221, 239, 252);
}
h2{
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(100, 98, 98);
    font-weight: 900;
    text-align: center;
    padding: 100px 0 31px 0;
}   
h2::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 6px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(33, 187, 161);
}
.gallery {
    margin:0 245px;
    padding-bottom: 100px;
}
.gallery-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 328px;
    background: #fff;
    margin: 82px 30px 0 0 ;
    cursor: pointer;
}
.gallery-item:nth-child(4n){
    margin-right: 0;
}
.gallery-item:nth-last-child(-n +4) {
    margin-bottom: 0;
}
.gallery-item::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 286px;
    top: 0;
    left: 0;
    border: 10px solid #fff;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: 1;
 }
 .gallery-item:hover::after {
    opacity: 0.5;
}
  img {
    display: block;
    width: 250px;
    height: 286px;
    object-fit: cover;
}
.price {
    background: rgb(46, 45, 45);
    font-size: 20px;
    height: 40px;
    text-transform: uppercase;
}
 .name{
    padding: 9px;
    display: inline-block;
    color:rgb(255, 255, 255);
}
 .sum {
    float: right;
    padding: 10px;
    background: rgb(131, 134, 131);
    color:rgb(255, 255, 255);
    height: 40px;
}
 .gallery-item:hover .price {
    background: rgb(33, 187, 161);
}
 .icons-wrapper{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;  
 }
 .gallery-item:hover .icons-wrapper {
    opacity: 1;
  }

 .icon-wrapper{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    margin: 5px;
    background: transparent;
    transition: background 0.3s ease-in,
    border-color 0.3s ease-in;
    cursor: pointer;
}
.icon{
    position: absolute;
    width: 25px;
    height: 25px; 
    margin: 10px;  
}
.icons-wrapper--wide {
    width: 170px;
    padding-left: 5px;
}
.text {
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.icon-wrapper:hover {
    background: rgb(33, 187, 161);
    border-color:  #fff;
}
  
.icons-wrapper--wide:hover {
    background: #323232;
    border-color:  #fff;
}

.clearfix::after {
   display: table;
   content: "";
   clear:both;
}
.footer{
    background: rgb(37, 37, 37);
}
.info{
    line-height: 88px;
    color:#fff;
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
    font-weight: 100;
}
.created_by{
    color: rgb(33, 187, 161);
    font-weight: 400;
}
