* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    padding: 35px 0;
  }
  .header-inner,
  .section-inner{
      width:1170px;
      margin: 0 auto;
      padding: 0 30px;
  }
  .section{
    padding: 35px 0 35px;
  }
 
  .logo,
  .list{
      display:inline-block
  }
  .list{
      float:right;
      list-style:none;
      font-family: 'Roboto', sans-serif;
      margin-top: 8px;
  }  
  .clearfix::after{
    display:table;
    content: "";
    clear:both;
}
.list-item{
    display: inline-block;
    margin-right: 31px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.list-item:last-child {
    margin-right: 0;
  }
.list-item:hover,
.list-item:focus{
    color:rgb(33, 187, 161);
    cursor: pointer;
}
.list-link{
    display: block;
}
.logo-link{
    display: block;
    text-decoration: none;
}
.logo-title{
    font-size: 34px;
    color: rgb(100, 98, 98); 
    font-weight: 100; 
    line-height: 34px;
}
 .logo-title::first-letter{
     color:rgb(33, 187, 161);
     font-weight: 700;
 }
                      /* Title section 1 */
 h2{
     position: relative;
     font-size: 40px;
     color: rgb(100, 98, 98);
     font-weight: 900;
     text-align: center;
     margin-bottom: 35px;
     padding-bottom: 31px;
 }   
 h2::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 6px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(33, 187, 161);
 }
                        /* Section 1 */ 
 .gallery {
    margin-bottom: 40px;
    font-size:0;
  }
 .gallery-item{
    display: inline-block;
    vertical-align: top;
    width: 255px;
    background: azure-blue;
    margin-top: 65px;
    margin-right: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.gallery-item:nth-child(4n){
    margin-right: 0;
}
.gallery-item:nth-last-child(-n +4) {
    margin-bottom: 0;
}
  img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .price {
    background: rgb(46, 45, 45);
    font-size: 16px;
  }
  
  .name{
    padding: 10px;
    margin: 0;
    display: inline-block;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}
  
  span {
    float: right;
    padding: 10px;
    background: rgb(131, 134, 131);
    color:rgb(255, 255, 255);
    }
  
  .gallery-item:hover .price {
    background: rgb(33, 187, 161);
  }
  .clearfix::after{
    display:table;
    content: "";
    clear:both;
}
.news-list{
    display: inline-block;
}
.news-list{
    width: 340px;
    color: rgb(131, 134, 131);
    margin-top: 65px;
    margin-right: 25px;
    margin-bottom: 30px;
}
.news-list:nth-last-child(3n-2){
    margin-right:0;
}
    
.news {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;   
}

h3{
    position: relative;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(89, 90, 89);
    font-weight: 500;
    margin-bottom: 31px;
}

h3::after{
    content: '';
    position: absolute;;
    width: 136px;
    height: 2px;
    bottom: 0;
    left:20%;
    transform: translateX(-50%);
    background: rgb(33, 187, 161);
    
}

.btn{
    background: rgb(33, 187, 161);
    width: 160px;
    height: 51px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-bottom: 46px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6%;
}
